

body {
    font-family: Arial, sans-serif;
    background-color: #75191c;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background: #6d2929;
    box-shadow: 0 5px 15px black;
    color: white;
    padding: 15px 30px;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
.logo, .titulo, nav {
    flex: 1;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 80px;
    border-radius: 50%;
}
.titulo {
    text-align: center;
}

.titulo h1 {
    margin: 0;
    font-size: 50px;
    color: orange;
    text-shadow: 0 3px 1px red;

}

h2{

    text-align: center;
    color: orange;
    text-shadow: 0 3px 1px red;
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

.intro {
    margin: auto;              
    padding: 25px 30px;
    background-image: url(img/Ecuador-y-Honduras-profundizan-sus-relaciones-comerciales-.png);   
    background-repeat: no-repeat; 
    background-position: center center;
    background-size: cover ;
    color: white;
    text-shadow: 0 5px 5px black;
    border-radius: 12px;
    box-shadow: 0 5px 20px black;
    text-align: center;
    
}

.intro p {
    margin: 0;
    font-size: 30px;
    line-height: 1.6;
}

.intro strong {
    font-size: 30px;
}

h3{

    color: orange;
    text-shadow: 0 3px 1px red;
    font-size: 30px;
    padding-left: 10px;
}


.menu {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
}

.menu {
    border-collapse: collapse;
    background-color: #8a2f2f;
    color: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.menu th {
    background-color: #5a1f1f;
    padding: 18px 12px;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 2px solid grey
}

.menu td {
    padding: 14px 12px;
    font-size: 16px;
    
}





.footer {
    background-color: #5a1f1f;
    padding: 40px 20px;
}

.footer-container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    gap: 60px;
}

.footer-column {
    flex: 1;
}

.footer-column h3 {
    margin-bottom: 15px;
    font-size: 22px;

}

.footer-column p {
    margin: 6px 0;
    color: black;
    font-size: 15px;
}

.newsletter-title {
    margin-top: 30px;
}

.btn {
    margin-top: 15px;
    padding: 10px 18px;
    background-color: #8b6f4e;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #72593d;
}

.payments {
    margin-top: 20px;
}

.payments img {
    height: 28px;
    margin-right: 10px;
}